@font-face {
  font-family: "Neumarkt";
  src: url("/fonts/neumarkt-regular-v01.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button, label, input, a {
  touch-action: manipulation;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: "Neumarkt", serif;
  background: #999;
  color: #fff;
  letter-spacing: 0.09em;
}

